<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="serviceHeartbeat" type="xpressive.Wcf.Extensions.ServiceHeartbeat.Config.ServiceHeartbeatBehaviorExtensionElement, xpressive.Wcf.Extensions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior name="IBroadcastService_ServiceBehavior">
          <serviceDebug httpHelpPageEnabled="false" httpsHelpPageEnabled="false"
              includeExceptionDetailInFaults="true" />
          <serviceMetadata />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="ServiceHearbeatBehavior">
          <serviceHeartbeat heartbeatFrequency="00:00:05" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="IBroadcastService_NetTcpBinding" closeTimeout="00:00:05"
            openTimeout="00:00:10" receiveTimeout="00:00:30" sendTimeout="00:00:30">
          <reliableSession enabled="true" />
          <security>
            <transport>
              <extendedProtectionPolicy policyEnforcement="Never" />
            </transport>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="IBroadcastService_ServiceBehavior"
          name="Broadcaster.Service.BroadcastService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="IBroadcastService_NetTcpBinding"
            name="netTcpEndpoint" contract="Broadcaster.Service.IBroadcastService" behaviorConfiguration="ServiceHearbeatBehavior" />
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration=""
            name="mexTcpEndpoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://127.0.0.1:7007/broadcaster/Service" />
          </baseAddresses>
          <timeouts closeTimeout="00:00:10" openTimeout="00:01:00" />
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>